<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf = "(authService.getUser() | async)">
      <a  mat-button routerLink="/blog-posts">Blog posts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>example2</span>
      <span class="spacer"></span>
      <a  mat-button routerLink="/register" *ngIf = "!(authService.getUser() | async)" >Register</a>
      <a  mat-button routerLink="/login" *ngIf = "!(authService.getUser() | async)" >Login</a>
      <a mat-button (click) = "authService.logout()" *ngIf = "(authService.getUser() | async)">Logout</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
